#host-options {
	color: #fff;
}

#host-options input[type='number'] {
	width: 60px;
}

#host-options label {
	position: relative;
	top: -1px;
	font-size: 16px;
	margin-left: 5px;
}

#host-options .host-title {
	font-size: 24px;
	/* font-weight: bold; */
	text-align: center;
	margin: 5px;
}

#host-options .option {
	margin-bottom: 5px;
}

#lbl-vote-threshold-percentage {
	position: relative !important;
	top: -2px !important;
	font-size: 16px !important;
}

#vote-percent-sign {
	margin-left: 4px;
}

#vote-disabled {
	color: #dd0000;
	font-size: 16px;
	margin-left: 4px;
}
